<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>

  <body>
    <%- include('./partials/navbar.ejs') %>

    <div class="container">
        <h2>Messages</h2>
        <div class="wrapper">
          <% if(messages.length > 0) { %>
            <% messages.forEach(message => { %>
              <div class="msg-container">
                <h2><%= message.text %></h1>
                <p>From: <%= message.user %></p>
                <p>Date: <%= message.added %></p>
                <a href="/messages/<%= message.id %>" class="button">Open</a>
              </div>
            <% }) %>
          <% } else { %>
            <p>No messages found</p>
          <% } %>
        </div>
      </div>
  </body>
</html>
